{% extends "../../base/base.html" %}

{% load breadcrumbs %}

{% block meta_title %}
Редактирование
{% endblock meta_title %}

{% block main_content %}
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      {% breadcrumbs links %}
      <div class="card mt-4">
        {% url 'movement-list-edit' facility_slug=related_facility.slug list_id=related_list.pk as action %}
        {% with title="Редактирование списка" action=action method="POST" form=form button_value="Подтвердить" %}
        {% include "../../includes/crispy-form.html" %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}