{% extends "../../base/base.html" %}

{% load breadcrumbs %}

{% block meta_title %}
История изменений
{% endblock meta_title %}

{% block main_content %}
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      {% breadcrumbs links %}
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="mt-4">
        {% if history_entries %}
        <ul class="list-unstyled">
          {% for entry in history_entries %}
          <li class="card shadow-sm mt-2">
            <div class="card-body">
              <h4 class="card-title h5">
              Перенос с {{ entry.prev_change.scheduled_datetime|date:"d E Y H:i" }} 
              на {{ entry.post_change.scheduled_datetime|date:"d E Y H:i" }}
              </h4>
              <p class="card-text">
              {{ entry.entry.modified_by.initials }} в {{ entry.entry.modified_datetime|date:"H:i d.m.Y" }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <h3 class="h5 card-title">Нет изменений</h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}