{% extends "../../base/base.html" %}

{% block meta_title %}
{{ related_facility.name }} | Списки
{% endblock meta_title %}

{% block main_content %}
<section class="container-lg">
  <header>
    <nav class="row">
      <div class="col-md">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" href="{{ related_facility.get_absolute_url }}">Списки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movement-lists-add' facility_slug=related_facility.slug %}">
            Добавить список
            <i class="fas fa-plus-circle"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="row">
    <div class="col-md dropdown show d-flex align-items-center mt-4">
      <span class="mr-2">Показывать</span>
      <div>
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{show}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{{ request.path }}">все</a>
          <a class="dropdown-item" href="{{ request.path }}?show=arrivals">только заезды</a>
          <a class="dropdown-item" href="{{ request.path }}?show=departures">только выезды</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md">
      {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if movement_lists %}
      <ul class="list-unstyled">
        {% for mlist in movement_lists %}
        <li class="mt-2">
            <div class="card shadow-sm">
              <div class="card-body d-flex align-items-center flex-row p-3">
                <div>
                  <h5 class="card-title">
                    {{ mlist.obj.list_type_humanize|title }} на {{ mlist.obj.scheduled_datetime|date:"d E Y" }}
                    {% if mlist.obj.was_changed %}
                    <span class="badge badge-info ml-1">перенесённый</span>
                    {% endif %}
                  </h5>
                  <p class="card-text">
                    Создан {{ mlist.obj.creation_datetime }} пользователем {{ mlist.obj.creator.full_name }}
                  </p>
                </div>
                <div class="d-flex align-items-center ml-auto" role="group" aria-label="Управление списком">
                  <div class="mr-2">
                    {% include "../../includes/options.html" with obj=mlist.obj can_change=mlist.can_change can_delete=mlist.can_delete %}
                  </div>
                  <a href="{{ mlist.obj.get_absolute_url }}" class="btn btn-outline-primary">Перейти</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <h2 class="h5 mt-4">Списки отсутствуют</h2>
      {% endif %}
    </div>
  </div>

  {% if paginator.num_pages > 1 %}
  <footer class="row mt-4">
    <div class="col">
      {% include "../../includes/paginator.html" %}
    </div>
  </footer>
  {% endif %}
</section>
{% endblock main_content %}