{% comment %} 
Данный файл определяет шапку любой страницы сайта,
которая наследует 'base.html'
{% endcomment %}

{% comment %}
Для лучшей семантики настоятельно не рекомендуется удалять тег header
Всё содержимое шапки сайта должно находиться внутри этого тега
{% endcomment %}
<header class="container-lg">
  <div class="row mb-4 align-items-center justify-content-between">
    <div class="col-lg-6 mt-4">
      <div class="d-flex justify-content-start align-items-center">
        <h1>{{ header }}</h1>
        <div class="dropdown ml-3">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Сменить объект
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for facility in facilities %}
            {% if facility.name == related_facility.name %}
            <a class="dropdown-item active" href="{{ facility.get_absolute_url }}">{{ facility.name }}</a>
            {% else %}
            <a class="dropdown-item" href="{{ facility.get_absolute_url }}">{{ facility.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mt-4">
      <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-end align-items-center">
          <span style="font-size: 1.2rem;">Добро пожаловать, {{ user.first_name }}</span>
          {% if user.is_staff %}
          <a href="/admin/" class="btn btn-outline-primary ml-2">Администрирование</a>
          {% endif %}
          <a href="{% url 'logout' %}" class="btn btn-primary ml-2">
            Выйти <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary ml-auto">
          Войти <i class="fas fa-sign-in-alt"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</header>