{% extends "../../base/base.html" %}

{% load crispy_forms_tags %}
{% load breadcrumbs %}

{% comment %} 
Шаблон для отображения списка записей о заездах/отъездах сотрудников
{% endcomment %}

{% block meta_title %}
{{ related_facility }} | Записи
{% endblock meta_title %}

{% block main_content %}
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% breadcrumbs links %}

      <ul class="nav nav-pills">
        {% if perms.main.add_movemententry and not related_list.is_deleted %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ related_list.get_absolute_url }}">Записи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movement-list-entries-add' facility_slug=related_facility.slug list_id=related_list.pk %}">
          Добавить запись
          <i class="fas fa-plus-circle"></i>
          </a>
        </li>
        {% endif %}
        <li class="nav-item btn-group ml-auto" role="group">
          <a
          class="btn btn-outline-primary"
          href="{% url 'movement-list-entries-print' facility_slug=related_facility.slug list_id=related_list.pk %}"
          aria-label="Печать"
          >
            <i class="fas fa-print"></i>
          </a>
          <button
            type="button"
            class="btn btn-outline-primary"
            data-toggle="modal"
            data-target="#searchModal"
          >
            Поиск
          </button>
          {% if request.GET %}
          <a class="btn btn-outline-primary" href="{{ related_list.get_absolute_url }}">Сбросить фильтр</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md">
      {% if entries %}
        {% if user.is_authenticated %}
          {% include "../../includes/movement-list-entries-detailed.html" with entries=entries %}
        {% else %}
          <div class="mt-4">
          {% include "../../includes/movement-list-entries-table.html" with entries=entries %}
          </div>
        {% endif %}
      {% else %}
      <p class="h4 mt-4">Записи отсутствуют</p>
      {% endif %}
    </div>
  </div>

  {% comment %} Пагинация записей
  {% if paginator.num_pages and paginator.num_pages > 1 %}
  <footer class="row mt-4">
    <div class="col">
      {% if paginator.num_pages > 1 %}
      <footer class="row mt-4">
        <div class="col">
          {% include "../../includes/paginator.html" %}
        </div>
      </footer>
      {% endif %}
    </div>
  </footer>
  {% endif %}
</div> {% endcomment %}

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Поиск по записям</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy search_form search_form.helper %}
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
