{% extends "../../base/base.html" %}

{% load crispy_forms_tags %}

{% comment %} 
Шаблон для отображения списка записей о заездах/отъездах сотрудников
{% endcomment %}

{% block meta_title %}
{{ related_facility }} | Записи
{% endblock meta_title %}

{% block main_content %}
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      <h2 class="h3 mb-4">
      <span class="mr-2">Список {{ related_list.list_type_humanize }}ов на {{ related_list.scheduled_datetime|date:"d E Y" }}</span>
      <a
        class="btn btn-primary"
        href="{% url 'movement-list-entries-print' facility_slug=related_facility.slug list_id=related_list.pk %}"
        aria-label="Печать"
      >
        <i class="fas fa-print"></i>
      </a>
      </h2>
      {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="{{ related_list.get_absolute_url }}">Записи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movement-list-entries-add' facility_slug=related_facility.slug list_id=related_list.pk %}">
          Добавить запись
          <i class="fas fa-plus-circle"></i>
          </a>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-outline-primary"
            data-toggle="modal"
            data-target="#searchModal"
          >Поиск</button>
        </li>
        <li class="nav-item ml-auto">
          {% include "../../includes/backbtn.html" %}
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md">
      {% if entries %}
      <ul class="list-unstyled mt-4">
        {% for entry in entries %}
          <li class="mt-2">
            <div class="card shadow-sm">
              <div class="card-body d-flex align-items-center flex-row p-3">
                <div>
                  <h5 class="card-title">
                      {{ entry.obj.employee.position }} {{ entry.obj.employee.full_name }}
                      {% if entry.obj.was_changed %}
                      <span class="badge badge-info ml-1">Изменено</span>
                      {% endif %}
                  </h5>
                  <p class="card-text">
                    Создана {{ entry.obj.creation_datetime }} пользователем {{ entry.obj.creator.full_name }}
                  </p>
                </div>
                <div class="d-flex align-items-center ml-auto" role="group" aria-label="Управление списком">
                  {% include "../../includes/options.html" with obj=entry.obj can_change=entry.can_change can_delete=entry.can_delete %}
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="h4 mt-4">Записи отсутствуют</p>
      {% endif %}
    </div>
  </div>

  {% comment %} Пагинация записей {% endcomment %}
  {% if paginator.num_pages and paginator.num_pages > 1 %}
  <footer class="row mt-4">
    <div class="col">
      {% if paginator.num_pages > 1 %}
      <footer class="row mt-4">
        <div class="col">
          {% include "../../includes/paginator.html" %}
        </div>
      </footer>
      {% endif %}
    </div>
  </footer>
  {% endif %}
</div>

<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Поиск по записям</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy search_form search_form.helper %}
      </div>
    </div>
  </div>
</div>

{% endblock main_content %}
