{% extends "../base/base.html" %}

{% block meta_title %}
{{ related_facility.name }} | Списки
{% endblock meta_title %}

{% block main_content %}
<div class="container-lg">
  <div class="row">
    <div class="col-md">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="{{ related_facility.get_absolute_url }}">Списки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'facility-lists-add' facility_slug=related_facility.slug %}">
          Добавить список
          <i class="fas fa-plus-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md">
      {% if messages %}
      <ul class="list-unstyled">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if movement_lists %}
      <ul class="list-unstyled">
        {% for movement_list in movement_lists %}
        <li class="mt-2">
            <div class="card shadow-sm">
              <div class="card-body d-flex align-items-center flex-row p-3">
                <div>
                  <h5 class="card-title">
                    Список {{ movement_list.list_type_humanize }}ов на {{ movement_list.scheduled_datetime|date:"d E Y" }}
                    {% if movement_list.was_changed %}
                    <span class="badge badge-info ml-1">перенесённый</span>
                    {% endif %}
                  </h5>
                  <p class="card-text">
                    Создан {{ movement_list.creation_datetime }} пользователем {{ movement_list.creator.full_name }}
                  </p>
                </div>
                <div class="d-flex align-items-center ml-auto btn-group" role="group" aria-label="Управление списком">
                  <a 
                    href="{% url 'facility-entries-list-delete' facility_slug=related_facility.slug list_id=movement_list.pk %}"
                    class="btn btn-outline-danger"
                    aria-label="Удалить"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                  <a 
                    href="{% url 'facility-entries-list-edit' facility_slug=related_facility.slug list_id=movement_list.pk %}" 
                    class="btn btn-outline-secondary"
                    aria-label="Изменить"
                  >
                    <i class="fas fa-edit"></i>
                  </a>
                  <a 
                    href="{% url 'facility-entries-list-history' facility_slug=related_facility.slug list_id=movement_list.pk %}" 
                    class="btn btn-outline-info"
                    aria-label="История"
                  >
                    <i class="fas fa-history"></i>
                  </a>
                  <a href="{{ movement_list.get_absolute_url }}" class="btn btn-outline-primary">Перейти</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% else %}
      <h2 class="h5 mt-4">Списки отсутствуют</h2>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main_content %}